.fixHead-line-content {
    display: flex;
}

.fixHead-line-title {
    padding-left: 10px;
    border-left: 20px solid #8BC34A;
}

.fixHead-head-note {
    padding-left: 10px;
    border-left: 20px solid #2196F3;
}

.fixHead-block {
    flex-shrink: 0;
    width: 500px;
    border: 1px solid #eee;
}

.fixHead-head {
    overflow-x: hidden;
    overflow-y: scroll;
}

.fixHead-head .fixHead-block {
    height: 200px;
}

.fixHead-body {
    overflow: scroll;
}